<div id="feeds" class="transitions-enabled">
  <% @feeds.each do |feed| %>
    <div class="box panel panel-default">
      <%= image_tag feed.image.url(:medium) %>
      <div class="panel-body">
        <%= feed.title %>
        <%= feed.user.first_name %>
        <%= link_to 'Show', feed_path(feed) %>
        <% if feed.user == current_user %>
          <%= link_to 'Edit', edit_feed_path(feed) %>
          <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>